html, body
{
	height: 100%;
}
body
{
	margin: 0;
	padding: 0;
	width: 100%;
	font-weight: 100;
	font-family: 'Asap', sans-serif;
}
.vertical-align
{
	padding-top: 5em;
}
.mgn-top
{
	padding-top: 2em;
}
.mgn-left
{
	padding-left: 2em;
}
.title-master
{
	font-size: 96px;
}
.title-sub
{
	font-size: 46px;
}